.balance {
    border: solid 5px rgba(150, 212, 150, 0.89);
    border-radius: 15px;
    padding: 0px 20px;
    height: 260px;
    width: 420px;
    background-image: linear-gradient(to bottom right, rgb(37, 226, 179), rgba(191, 255, 138, 0.527));
}

.header-balance {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgba(1, 41, 0, 0.63);
    font-weight: 700;
    padding: 0px; 
}

#user-id {
    font-size: 20px;
    color: rgba(1, 41, 0, 0.63);
    font-weight: 700;
    padding: 0px; 
}

.total-balance  {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.589);
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(37, 226, 179), rgba(191, 255, 138, 0.527));
}

